.container3 {
    background-image: url("assets/images/womenfighting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100%;
    /* margin-bottom: 50px; */
    color: whitesmoke;
}

h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
    /* font-weight:800; */
}

h1 {
    text-shadow: 4px 4px #ef5350;
    font-weight:800;
}

h3 {
    text-align: center;
}

body {
    background-image: url("assets/images/nasty_fabric.png");
}

form {
    background-color: white;
    border: 2px solid lightgray;
}

.container1 {
    margin: 25px;
    padding: 25px;
}


.container {
    margin-bottom: 75px;
}

#signupform {
    display: none;
}


.banner-background {
    background-image: url("assets/images/dust_scratches.png");
    padding: 25px;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


 

.fixed-action-btn{
    
    left: 20px;
    width:50%;
}

